[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chenlgliguo
[access "refs/for/refs/*"]
	read = group user/chenlgliguo
	push = group user/chenlgliguo
	label-Code-Review = -2..+2 group user/chenlgliguo
	label-Verified = -1..+1 group user/chenlgliguo
	rebase = group user/chenlgliguo
	removeReviewer = group user/chenlgliguo
	submit = group user/chenlgliguo
[access "refs/heads/*"]
	read = group user/chenlgliguo
	create = group user/chenlgliguo
	push = +force group user/chenlgliguo
	pushMerge = group user/chenlgliguo
[access "refs/tags/*"]
	push = +force group user/chenlgliguo
	pushTag = group user/chenlgliguo
	pushSignedTag = group user/chenlgliguo
